!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{:style => "background: #fff"}
    = partial "includes/google/gtm"
    = partial "includes/hello-bar"
    = partial "includes/layout/header-home"
    = partial "includes/layout/headline"
    = yield
    = partial "includes/layout/footer"
