### Secure

The [Secure stage](/direction/secure) enables accurate, automated, and continuous assessment of your applications and services enabling you to proactively identify vulnerabilities and weaknesses to minimize your security risk.  Secure is not an additional step in your process nor an additional tool to introduce to your process. it is woven into your DevOps cycle thus allowing you to adapt your security testing and processes to your developers (and not the other way around).

#### Categories
<%= partial("direction/categories-content", :locals => { :stageKey => "secure" }) %>

#### Pricing
<%= partial("direction/security/pricing/secure") %>
