---
layout: handbook-page-toc
title: Dev Section Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

Note: This page is dynamically generated via the Dev Section performance indicators [.yml file](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/performance_indicators/dev_section.yml).

<%= performance_indicators('Dev Section') %>
