.grid-layout.grid-layout2.margin-top50
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/QV2dIocn-hk", :width => "500"}

  .grid-item
    %h3.margin-top0
      Continuous Compliance Automation for Continuous Delivery
    %p
      GitLab simplifies
      %a{href: "https://about.gitlab.com/solutions/compliance/"}compliance
      helping customers define, implement, and audit granular deployment and delivery policies such as
      <br> - approval rules, segregation of duties, release governance, and more
      <br> - define security policies such as license compliance, password policies, credential inventories
      <br> - track adherence to compliance such as user actions such as commits, permission changes, approval changes, logins, password changes, release evidence
      <br> - track production events and perform incidence response and alert management  

      <br> GitLab delivers value in a single application, enabling traceability from deployment all the way back to code changes and requirements.
